<h1><%= @post.title.capitalize %></h1>

<p><a href=<%= @post.url %>><%= @post.url %></a></p>

<p><%= @post.content %></p>
<br>

<ul>
  <%= render @all_comments[nil] %>
</ul>
<br>
<%= link_to "Add a Comment", new_post_comment(@post) %>

<br>
<%= link_to "Edit this Post", edit_post_url(@post) %>
<br>
<%= link_to "Back to All Subs", subs_url %>
