<h1><%= @sub.title.capitalize %></h1>

<p><%= @sub.description %></p>


<table>
  <tr>
    <td>Title</td>
    <td>Url</td>
  </tr>
  <% @sub.posts.each do |post| %>
  <tr>
    <td><a href="<%= post_url(post) %>"><%= post.title %></a></td>
    <td><a href=<%= post.url %>><%= post.url %></a></td>
  </tr>
  <% end %>
</table>

<%= link_to "Create a post", new_post_url %>
<br>
<%= link_to "Edit this sub", edit_sub_url(@sub) %>
<br>
<%= link_to "Back to Sub Index", subs_url %>
