<!DOCTYPE html>
<html>
<head>
  <title>Readit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:errors] %>
    <%= flash[:errors].each {|error| error } %><br>
  <% end %>

  <% if flash[:messages] %>
    <%= flash[:messages].each {|error| error } %><br>
  <% end %>

  <% unless signed_in? %>
    <%= link_to "Sign In", new_session_url %><br>
    <%= link_to "Sign Up", new_user_url %>
  <% else %>
    <%= link_to "Sign Out", session_url, method: :delete %>
  <% end %>

  <br>

<%= yield %>

</body>
</html>
